<h1><%= @directory.full_path %></h1>

<% if can?(:update, @directory) %>
  <div><%= link_to "Edit this directory", edit_directory_path(@directory)%></div>
<% end %>

<% if can?(:create, @directory) %>
  <div><%= link_to "Create new directory", new_directory_path %></div>
<% end %>

<% if can?(:destroy, @directory) %>
  <div><%= link_to "Delete this directory", @directory, method: :delete, data: {confirm: "Are you sure?"} %></div>
<% end %>

<% unless @directory.root? %>
  <%= render 'directories/directory_info', {path_name: "..", description: "Go up a level", directory: @directory.parent } %>
<% end %>

<% @subdirectories.each do |sub| %>
  <%= render 'directories/directory_info', {path_name: sub.path_name, description: sub.description, directory: sub } %>
<% end %>

<% @songs.each do |song| %>
  <%= render 'songs/song_info', {song: song} %>
<% end %>
