<% unless @directory.root? %>
  <ol class="breadcrumb" >
    <% @directory.path_to_root.drop(1).reverse_each do |p| %>
      <li><%= link_to (p.description.blank? ? p.name : p.description), p %></li>
    <% end %>
    <li class="active"><%= (@directory.description.blank? ? @directory.name : @directory.description) %></li>
  </ol>
<% end %>

<% if can?(:update, @directory) %>
  <div><%= link_to "Edit this directory", edit_directory_path(@directory)%></div>
<% end %>

<% if can?(:create, @directory) %>
  <div><%= link_to "Create new directory", new_directory_path %></div>
<% end %>

<% if can?(:destroy, @directory) %>
  <div><%= link_to "Delete this directory", @directory, method: :delete, data: {confirm: "Are you sure?"} %></div>
<% end %>

<% @subdirectories.each do |sub| %>
  <%= render 'directories/directory_info', {path_name: sub.path_name, description: sub.description, directory: sub } %>
<% end %>

<% @songs.each do |song| %>
  <%= render 'songs/song_info', {song: song} %>
<% end %>
