<% content_for :title, "New Song" %>

<audio id="audio_demo"></audio>

<%= simple_form_for @song, url: songs_path, html: { multipart: true } do |f| %>
  <%= f.error_notification %>

  <%= f.input :sound, required: true %>
  <%= f.hint "File must be less than 10 megabytes and must be mp3, wav or ogg format." %>

  <%= f.input :path, label: "Name", required: true %>
  <%= f.hint "This is the name that will be used, along with the category, as the name of the in-game trigger. Keep it short and descriptive.  You may only use letters, numbers and underscores.  You may use a number of forward slashes, '/', to create a subdirectory structure (e.g. 80s/dangerzone).  Do not add the file extension, such as \".mp3\" to the name" %>

  <%= f.input :category, collection: @categories, label: "Category", prompt: "Select a category", label_method: :to_label, required: true %>

  <%= f.input :add_as_theme, as: :boolean %>
  <%= f.hint "Add this song as one of my donator intros." %>

  <%= f.button :submit, class: "btn btn-success" %>
<% end %>

<div id="how_to_play" class="alert alert-info">
  To play this on the server type <strong>!p <span id="how_to_play_command"></span></strong> into the game chat.
</div>

