<script>
  $( document ).ready(function() {
    //document.getElementById('audio_player').volume = <%= @volume %>;

    var url = $("#jquery_jplayer_1").data('url');
    var vol = $("#jquery_jplayer_1").data('volume');

    $("#jquery_jplayer_1").jPlayer({
      ready: function(event) {
        $(this).jPlayer("setMedia", {
          oga: url
        }).jPlayer("play");
      },
      supplied: "oga",
      volume: vol,
      preload: "auto"
    });
  });
</script>



<div class="container">
  <div id="jquery_jplayer_1" class="jp-jplayer" data-url="<%= @song.sound.url %>" data-volume="<%= @volume %>"></div>

  <div id="jp_container_1" class="jp-audio">
    <div class="jp-type-playlist">
      <div class="jp-gui jp-interface">
        <ul class="jp-controls">
          <li><a href="javascript:;" class="jp-previous btn btn-default btn-sm" tabindex="1"><%= fa_icon "backward" %></span></a></li>
          <li><a href="javascript:;" class="jp-play btn btn-default btn-sm" tabindex="1"><%= fa_icon "play" %></span></a></li>
          <li><a href="javascript:;" class="jp-pause btn btn-default btn-sm" tabindex="1"><%= fa_icon "pause" %></span></a></li>
          <li><a href="javascript:;" class="jp-next btn btn-default btn-sm" tabindex="1"><%= fa_icon "forward" %></span></a></li>
          <li><a href="javascript:;" class="jp-stop btn btn-default btn-sm" tabindex="1"><%= fa_icon "stop" %></span></a></li>
          <li><a href="javascript:;" class="jp-shuffle btn btn-default btn-sm" tabindex="1" title="shuffle the playlist"><%= fa_icon "random" %></span></a></li>
          <li><a href="javascript:;" class="jp-shuffle-off btn btn-default btn-sm" tabindex="1" title="shuffle the playlist"><%= fa_icon "random" %></span></a></li>
          <li><a href="javascript:;" class="jp-repeat btn btn-default btn-sm" tabindex="1" title="repeat"><%= fa_icon "arrow-down" %></span></a></li>
          <li><a href="javascript:;" class="jp-repeat-off btn btn-default btn-sm" tabindex="1" title="repeat off"><%= fa_icon "repeat" %></span></a></li>
          <br/>
          <li><a href="javascript:;" class="jp-mute btn btn-default btn-sm" tabindex="1" title="mute"><%= fa_icon "volume-off" %></span></a></li>
          <li><a href="javascript:;" class="jp-unmute btn btn-default btn-sm" tabindex="1" title="unmute"><%= fa_icon "volume-down" %></span></a></li>
          <li>
            <div class="jp-volume-bar progress">
              <div class="jp-volume-bar-value progress-bar progress-bar-success"></div>
            </div>
          </li>
          <li><a href="javascript:;" class="jp-volume-max btn btn-default btn-sm" tabindex="1" title="max volume"><%= fa_icon "volume-up" %></span></a></li>
        </ul>
        <div class="jp-progress">
          <div class="jp-seek-bar progress">
            <div class="jp-play-bar progress-bar"></div>
          </div>
        </div>
        <div id="time">
          <div class="jp-current-time badge"></div>
          <div class="jp-duration badge"></div>
        </div>
      </div>
      <div class="jp-playlist">
        <ul>
          <li></li>
        </ul>
      </div>
      <div class="jp-no-solution">
        <span>Update Required</span>
        To play the media you will need to either update your browser to a recent version or update your <a href="http://get.adobe.com/flashplayer/" target="_blank">Flash plugin</a>.
      </div>
    </div>
  </div>
</div>
