<% content_for :title, @song.full_path %>

<ol class="breadcrumb" >
  <% @song.directory.path_to_root.reverse_each do |p| %>
    <li><%= link_to (p.description.blank? ? p.name : p.description), p %></li>
  <% end %>
  <li class="active"><%= @song.to_s %></li>
</ol>
<h3><%= @song.full_path %></h3>

<% if can?(:play, @song) %>
  <%= link_to "Listen to this song", play_song_path(@song)%>
<% end %>

<% if can?(:edit, @song) %>
  <%= link_to "Edit this song", edit_song_path(@song)%>
<% end %>

<% if can?(:destroy, @song) %>
  <div><%= link_to "Delete this song", @song, method: :delete, data: {confirm: "Are you sure?"} %></div>
<% end %>

<dl class="dl-horizontal" >
  <dt>Uploaded</dt>
  <dd><%= @song.created_at %></dd>

  <dt>by</dt>
  <dd><%= link_to @song.uploader.nickname, @song.uploader %></dd>

  <dt>Size</dt>
  <dd><%= number_to_human_size @song.sound_file_size %></dd>

  <dt>Title</dt>
  <dd><%= @song.title %></dd>

  <dt>Artist</dt>
  <dd><%= @song.artist %></dd>

  <dt>Album</dt>
  <dd><%= @song.album %></dd>

  <dt>Duration</dt>
  <dd><%= @song.duration_formated %></dd>

  <dt>Play Count</dt>
  <dd><%= @song.play_count %></dd>

</dl>
