<h1><%= @song.full_path %></h1>

<% if can?(:play, @song) %>
  <%= link_to "Listen to this song", play_song_path(@song)%>
<% end %>

<% if can?(:edit, @song) %>
  <%= link_to "Edit this song", edit_song_path(@song)%>
<% end %>

<p><%= @song.title %></p>
<p><%= @song.album %></p>
<p><%= @song.artist %></p>
<p><%= @song.duration_formated %>
<p>Song has been played <%= @song.play_count %> times</p>
