<h1><%= @song.full_path %></h1>

<% if can?(:play, @song) %>
  <%= link_to "Listen to this song", play_song_path(@song)%>
<% end %>

<% if can?(:edit, @song) %>
  <%= link_to "Edit this song", edit_song_path(@song)%>
<% end %>

<% if can?(:destroy, @song) %>
  <div><%= link_to "Delete this song", @song, method: :delete, data: {confirm: "Are you sure?"} %></div>
<% end %>

<p>Uploaded <%= @song.created_at %> by <%= link_to @song.uploader.nickname, @song.uploader %>
<p><%= number_to_human_size @song.sound_file_size %></p>
<p><%= @song.title %></p>
<p><%= @song.album %></p>
<p><%= @song.artist %></p>
<p><%= @song.duration_formated %>
<p>Song has been played <%= @song.play_count %> times</p>
