<h1>Pages#admin</h1>
<p>
  <%= link_to "Manage Api Keys", api_keys_path %>
</p>

<p>
  <%= link_to "Map Themes", songs_path({map_themeable: true}) %>
</p>

<p>
  <%= link_to "User Themeable", songs_path({user_themeable: true}) %>
</p>

<p>
  <%= link_to "Admins", users_path({admin: ""}) %>
</p>

<p>
  <%= link_to "Uploaders", users_path({uploaders: ""}) %>
</p>

<p>
  <%= link_to "Banned Users", users_path({banned: ""}) %>
</p>
