<%= simple_form_for MapTheme.new do |f| %>
  <%= f.input :map %>
  <%= f.input :full_path %>
  <%= f.submit "Add New Map Theme", class: "btn btn-success" %>
<% end %>

<% if @map_themes.count > 0 %>
<table class="table table-hover table-striped" >
  <thead>
    <tr>
      <th>Map</th>
      <th>Song</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
  <% @map_themes.each do |mt| %>
    <tr>
      <td><%= mt.map %></td>
      <td><%= "#{mt.song.to_s} (#{mt.song.full_path})" %></td>
      <td><%= button_to "delete", mt, method: :delete, data: {confirm: "Are you sure?"} %></td>
    </tr>
  <% end %>
  </tbody>
</table>
<% end %>
