<p id="notice"><%= notice %></p>

<p>
  <strong>Map:</strong>
  <%= @map_theme.map %>
</p>

<p>
  <strong>Song:</strong>
  <%= @map_theme.song %>
</p>

<%= link_to 'Edit', edit_map_theme_path(@map_theme) %> |
<%= link_to 'Back', map_themes_path %>
